/*   Colors
body background = white

green
#4E8F47, hsl(178, 21?, 45%);
dim green: #53794F, hsl(178, 16? 41%)
less dim: #3D6E38 hsl(178, 12?, 35%)
lighter/brighter #6BC861 hsl(178, 45?, 63%)
bright #24B415 hsl(178, 33?, 47%)

orange
#DC9919 hsl(58, 38?, 62)

purple
#5F3E75 hsl(297, 7?, 31%)
lighter: #8455A4 hsl(297, 14?, 42%)
brighter: #621994 hsl(297, 5?, 24%)
darker: #49315A hsl(296, 4?, 24%)

*/
body {
  font-family: 'Open Sans', sans-serif;
  background: red; }

h1, h2, h3, h4, h5 {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 2pt; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 30px; }

#logoAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

#logoAndTitle img {
  height: 200px;
  width: 158px; }

.titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px; }

h1 {
  font-size: 4.5em; }

.titles p {
  font-size: 1.8em; }

.login {
  align-self: flex-end; }

#populateLists {
  /*  container for cateogoryBox, newItem, and currentList */
  display: flex;
  justify-content: center;
  width: 90%; }

#populateLists-left {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto; }

#populateLists-left p, h2 {
  margin-left: 30px; }

#newListInputs {
  /* Container for categoryBox and newItem  */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px; }

.categoryBox {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 10px; }

.categoryRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.categoryRow button {
  height: 40px;
  width: 100px;
  transition: background .5s ease; }

.categoryRow button:hover {
  background: #fff; }

#newItemForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 10px; }

.input {
  display: flex;
  flex-direction: row;
  width: 250px; }

#newItemForm label {
  display: flex;
  width: 100px;
  text-align: right; }

#newItemForm input {
  width: 120px; }

#newItemForm button {
  margin: 10px;
  margin-left: 80px;
  width: 150px;
  transition: background .5s ease;
  background: #DC9919; }

#newItemForm button:hover {
  background: #fff; }

#populateLists-right {
  margin: 15px; }

#currentList table, th, td {
  border: 1px solid black;
  border-collapse: collapse; }

#calculate {
  margin: 15px;
  transition: background .5s ease; }

#calculate:hover {
  background: #fff; }
