/*   Colors
body background = white

green
#4E8F47, hsl(178, 21?, 45%);
dim green: #53794F, hsl(178, 16? 41%)
less dim: #3D6E38 hsl(178, 12?, 35%)
lighter/brighter #6BC861 hsl(178, 45?, 63%)
bright #24B415 hsl(178, 33?, 47%)

orange
#DC9919 hsl(58, 38?, 62)

purple
#5F3E75 hsl(297, 7?, 31%)
lighter: #8455A4 hsl(297, 14?, 42%)
brighter: #621994 hsl(297, 5?, 24%)
darker: #49315A hsl(296, 4?, 24%)

*/
body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 2pt; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 30px; }

#logoAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  #logoAndTitle img {
    height: 200px;
    width: 158px; }

.titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px; }
  .titles p {
    font-size: 1.8em; }

h1 {
  font-size: 4.5em; }

.login {
  align-self: flex-end; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#populateList {
  /*  container for populateLists-left and populateLists-right */
  display: flex;
  flex-direction: row;
  width: 90%; }

#populateLists-left {
  display: flex;
  flex-direction: column;
  width: 700px; }
  #populateLists-left p, #populateLists-left h2 {
    margin-left: 30px; }

#newListInputs {
  /* Container for categoryBox and newItem  */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px; }

.categoryBox {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 10px; }

.categoryRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .categoryRow button {
    height: 40px;
    width: 100px;
    transition: background .5s ease; }
    .categoryRow button:hover {
      background: #fff; }

#newItemForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 10px; }
  #newItemForm label {
    display: flex;
    width: 100px;
    text-align: right; }
  #newItemForm input {
    width: 120px; }
  #newItemForm button {
    margin: 10px;
    margin-left: 80px;
    width: 150px;
    transition: background .5s ease;
    background: #DC9919; }
    #newItemForm button:hover {
      background: #fff; }

.input {
  display: flex;
  flex-direction: row;
  width: 250px; }

#populateLists-right {
  margin: 15px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

#currentList {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center; }
  #currentList table {
    width: 400px; }
  #currentList th, #currentList td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px; }
  #currentList input {
    width: 30px; }
  #currentList #runningTotal {
    margin-top: 10px; }
    #currentList #runningTotal span {
      width: 170px;
      border: 1px solid gray;
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 3px;
      padding-bottom: 3px; }

#crunch {
  height: 60px;
  width: 100px;
  margin-left: 100px;
  background: #DC9919;
  transition: background .5s, height 1.5s, width 1.5s ease; }
  #crunch:hover {
    background: #fff; }
  #crunch:active {
    transform: scale(1.5);
    background: #4E8F47; }

#tabs {
  margin: 30px;
  display: none; }

.tab-pane {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray; }

#comparison {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px; }
  #comparison ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
